$sans-serif: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

$web-hunt-green: rgb(70, 153, 156);


$white: white;
$lightlightgray: #f3f3f3;
$lightgray: lightgray;
$gray: gray;
$modal-gray: rgba(109, 109, 109, 0.657);