$sans-serif: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

$web-hunt-green: rgb(70, 153, 156);


$white: white;
$lightlightgray: #f3f3f3;
$lightgray: lightgray;
$gray: gray;
$modal-gray: rgba(46, 46, 46, 0.8);

$red: rgb(187, 53, 53);