button {
  margin-top: 10px;
  background-color: $web-hunt-green;
  cursor: pointer;
  width: 80px;
  color: $white;
  border-radius: 4px;
  height: 25px;
  transition: color 0.5s;
}

input {
  line-height: 25px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid $lightgray;
}
