.feed {
  padding: 20px;
  width: 730px;

  span {
    font-size: 12px;;

    span {
      color: $lightgray;
    }

    a:hover {
      text-decoration: underline;
    }

    a.active {
      font-weight: bold;
    }
  }

  .feed-list {
    margin-top: 20px;
    background-color: $white;
    border-radius: 6px;
    list-style: none;
    border: 1px solid $lightlightgray;

    li.feed-list-item {
      position: relative;
    }

    li.feed-list-item > section {
      display: flex;
      padding: 20px;
      border-bottom: 1px solid $lightgray;
      align-content: stretch;
      cursor: pointer;

      img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
      }

      a.title {
        font-weight: bold;
      }

      a.title:visited {
        // color: $gray;
      }

      p.tagline {
        margin-top: 5px;
        color: $gray;
        font-size: 13px;
      }

      a.website-link {

      }

      // placeholder stuff
      img.placeholder {
        width: 80px;
        height: 80px;
        margin-right: 10px;
        background-color: $lightlightgray;
        border-radius: 5px;
      }
      a.title-placeholder {
        font-weight: bold;
        background-color: $lightlightgray;
        height: 19px;
        width: 350px;
        display: block;
        border-radius: 3px;
      }

      p.tagline-placeholder {
        margin-top: 5px;
        background-color: $lightlightgray;
        height: 13px;
        width: 250px;
        border-radius: 3px;
      }
      // @keyframes pulse-title {
      //   0%, 100% {
      //     width: 400px;
      //   }
      //   50% {
      //     width: 380px;
      //   }
      // }
      // @keyframes pulse-tagline {
      //   0%, 100% {
      //     width: 300px;
      //   }
      //   50% {
      //     width: 280px;
      //   }
      // }
      // a.pulse-width {
      //   animation: pulse-title 0.5s ease infinite;
      //       animation-timing-function: ease-in-out;

      // }
      // p.pulse-width {
      //   animation: pulse-tagline 0.5s (random(10) * .1 )  ease infinite;
      //       animation-timing-function: ease-in-out;

      // }
    }

    li.feed-list-item:last-child > section {
      border: 0;
    }
    span.upvote {
      position: absolute;
      right: 28px;
      top: 28px;
      height: 60px;
      width: 50px;
      border: 1px solid $lightgray;
      border-radius: 4px;
      background-color: $white;
      text-align: center;
      line-height: 60px;
    }

    span.upvote:hover {
      background-color: $lllgray;
    }

    li.feed-list-item > section:hover {
      background-color: $lllgray;
    }
  }
}