html {
  width: 100%;
  height: auto;
  
  body {
    font-family: $sans-serif;
    background-color: #f1f1f1;
    width: inherit;

    #root {
      width: inherit;
    }
  }

  body.no-scroll {
    overflow: hidden;
  }

  .main-content {
    width: 1100px;
    margin: 0 auto;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
  }
}

