
@media (max-width: 1099px) {
  body {
    section#root {
      width: 100%;

      nav.nav-bar {
        width: inherit;
        min-width: inherit;

        main {
          width: inherit;
          
          section.searchField {

            form {
              width: fit-content;
            }
          }
        }
      }

      .user-menu-modal {

        span {
          width: 100%;

          ul {
            right: 6px;
          }

          div.arrow-up {
            margin-left: 22px;
          }
        }
      } 
    }

    .modal-background {

      .modal-child {
        
        .product-main {
          width: 100vw;          

          main {
            width: 70%;
          }

          aside { 
            width: 28%;
          }
        }
      }
    }

    .main-content {
      width: 100%;
    }

    footer.footer {
      section {
        width: 100%;
      }
    }

    section.profile {
      
      header {
        width: auto !important;
        right: 20px;
        left: 20px;
      }
      
      section.right-bar {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  body {

    section#root {

      nav.nav-bar {

        main {

          section.searchField {

            form {

              input {
                display: none;
              }
            }
          }
        }
      }

      main {

        aside {
          display: none;
        }
        
        section.profile main.profile-container {
          display: block;

          section.left-bar > ul {
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }
    }
  } 

  li.feed-list-item > a.feed-list-item-container {
    section {
      p.tagline {
        padding-bottom: 20px;
      }
    }
  }
}