section.product-main {
  width: 1100px;
  top: 10%;
  left: 0;
  bottom: 50px;
  border-radius: 5px;
  background-color: #f1f1f1;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: baseline;
  min-height: 1000px;

  header {
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 100%;

    img {
      width: 80px;
      height: 80px;
      margin-right: 10px;
    }

    section.main-info {
      width: 400px;
      display: flex;
      flex-direction: row;

      section.title-tagline {
        width: fit-content;
        
        h3, p {
          width: inherit;
        }

        a {
          h3.title {
            font-weight: bold;
          }
          h3.title:hover {
            text-decoration: underline;
          }

          i {
            display: none;
          }

          h3.title:visited {
            // color: $gray;
          }
        }

        a:hover {

          h3 {
            display: inline-block;
          }

          i {
            margin-left: 10px;
            display: inline-block;
          }
        }


        p.tagline {
          margin-top: 5px;
          color: $gray;
          font-size: 13px;
        }

        ul {
          display: flex;
          margin-top: 20px;

          li {
            list-style: none;
            font-size: 11px;
            text-transform: uppercase;
            border: 1px solid $lightgray;
            border-radius: 3px;
            margin-right: 5px;
            cursor: pointer;
            color: $gray;
            background-color: $white;
            padding: 3px;
            position: relative;
            z-index: 3;
            min-width: 20px;
          }

          li:hover {
            background-color: $lightlightgray;
            text-decoration: underline;
          }
        }
      }
    }
  }

  main {
    width: 700px;
    
    section.main-image, section.discussion {
      background-color: $white;
      // padding: 20px;
      border-radius: 5px;
      margin-bottom: 40px;
    }

    section.main-image {
      padding: 20px;
      
      img.carousel-main {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100%;

      }

      p.description {
        border-top: 1px solid $lightgray;
        padding-top: 20px;
        font-size: 14px;
        line-height: 1.5em;

        span {
          font-size: 11px;
          padding-bottom: 10px;
          color: $gray;
          display: block;
        }
      }
    }
    
    // reviews
    section.discussion {
      padding: 20px;
      display: none;

      section.review-input {
        display: flex;
        width: 100%;
        align-items: center;
        border-bottom: 1px solid $lightgray;
        padding-bottom: 20px;

        form {
          display: inherit;
          width: 100%;
          align-items: inherit;
          margin-left: 10px;

          input {
            flex-grow: 1;
          }

          button {
            margin: 10px;
            padding: 8px;
            height: fit-content;
          }
        }
      }
    }
  }

  aside.product {
    width: 320px;

    hr {
      margin: 20px 0;
      border: 1px solid $lightgray;
    }

    div.upvote-section {
      display: flex;
      
      span.upvote-button {
        background-color: $web-hunt-green;
        width: 170px;
        padding: 12px;
        display: block;
        text-align: center;
        color: $white;
        border-radius: 5px;
        cursor: pointer;
        font-size: 13px;
        font-weight: 500;

        div {
          display: inline-block;
          color: $lllgray;
        }
      }
      
      span.upvote-button:hover {
        background-color: lighten($web-hunt-green, 5%)
      }
      
      span.upvote-button:active {
        background-color: lighten($web-hunt-green, 5%);
        margin-top: 2px;
        margin-bottom: -2px;
      }

      section.website-link {
        border-top: 1px solid $lightlightgray;
      }

      div.product-upvoters {
        margin-left: 25px;

        span.upvoter-picture {
          background-color: lightcoral;
          margin-left: -10px;
        }

        img.upvoter-picture {
          background-color: lightcoral;
          margin-left: -10px;
        }
      }

    }

    section {
      margin-bottom: 20px;
      padding: 20px;
      background-color: $white;
      border-radius: 5px;
    }

    section.hunter-link {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;

      a {
        margin-left: 10px;
        transition: color .3s;

        &:hover {
          color: $web-hunt-green;
        }
      }
    }
  }
}


// EDIT PRODUCT FORM 

section.product-edit {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 20px 20px 20px 0;
    font-weight: bold;
    font-size: 22px;
  }

  form {
    display: inherit;
    flex-direction: inherit;
    background-color: $white;
    padding: 10px 20px 20px 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 2px 1px $lightgray;

    label {
      font-size: 13px;
      font-weight: bold;
      margin: 20px 10px 10px 0;
    }

    img {
      align-self: flex-start;
      margin-top: 10px;
      max-width: 50px;

      &.header-preview {
        width: 100%;
        max-height: 182px;
        object-fit: cover;
      }
    }

    button:hover {
      color: black;
    }

  }
}
