// .modal-screen {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   z-index: 101;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: $modal-gray;

  .session-modal {
    display: block;
    max-width: 860px;
    left: 0;
    bottom: 0;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    border: 20px solid $lightlightgray; 
    min-height: 392px;
    box-sizing: border-box;

    .logo {
      margin: 0 auto;
      height: 70px;
      width: 70px;
      font-size: 50px;
      line-height: 65px;
      margin-bottom: 20px;
      min-width: 50px;
      background-color: $web-hunt-green;
      border-radius: 50%;
      text-align: center;
      color: $white;
      font-size: 33px;
      font-weight: 400;
    }

    h3 {
      text-align: center;
      font-weight: bold;
      font-size: 19px;
      margin-top: 10px;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 auto;
      padding: 10px;

      label {
        margin: 0 auto;
        width: 300px;
        margin-top: 16px;
        font-size: 13px;
      }

      input {
        margin: 0 auto;
        width: 300px;
        margin-top: 3px;
        height: 30px;
        line-height: 20px;
        padding-left: 10px;
        box-sizing: border-box;
      }
      
      .submitbuttons {
        height: 70px;
        align-self: center;
        display: flex;
        flex-direction: column;
        width: 450px;
        justify-content: space-evenly;

        button {
          font-weight: 600;
          width: 200px;
          height: 30px;
          font-size: 12px;
          border: 0;
          margin: 0 auto;
          width: 300px;
                  box-sizing: border-box;

        }

        // login / signup modal buttons
        button:first-child {
          background-color: $white;
          color: black;
          box-sizing: border-box;
          border: 1px solid $lightgray;
          transition: border 0.5s, color 0.5s ;
          margin-bottom: 5px;
        }

        button:first-child:hover {
          border: 1px solid $web-hunt-green;
          color: $web-hunt-green;
        }

        button:hover {
          color: black;
        }
      }

      .errors-list {
        width: 100%;
        min-height: 50px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      
      .errors-list li {
        list-style: none;
        font-size: 14px;
        text-align: center;
        color: $red;
      }
    }

    p.other-session-link {
      text-align: center;
      margin-top: 20px;
      font-size: 13px;
      color: $gray;

      a {
        color: $web-hunt-green;
      }
    }
  }
// }