/* CSS reset */
html, body, section, article,
h1, h2, h3, h4, p, ul, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

@import "base/colors";
@import "base/things";

@import "api/products";
@import "api/reviews";
@import "api/sessions";
@import "api/upvotes";
@import "api/users";

@import "components/main";
@import "components/footer";
@import "components/feed";
@import "components/mobile";
@import "components/nav_bar";
@import "components/product";
@import "components/modal";
@import "components/product_form";
@import "components/profile";
@import "components/recent_users";
@import "components/review";
@import "components/session_modal";
@import "components/show_gallery";
@import "components/small_product";
@import "components/static_pages";
@import "components/sidebar";
