.modal-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(109, 109, 109, 0.657);

  .x {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 47px;
    background: white;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
  }
  

  .session-modal {
    position: absolute;
    top: 100px;
    max-width: 860px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 300px;
    border-radius: 20px;
    padding: 20px;

    form {

    }
  }
}